@extends('layouts.app')

@section('title', 'Welcome')


@section('contenct')

<div class="banner">
    <img src="/img/logo.svg" alt="">
    <h1>Rufus Framework</h1>
    <p>Un Framework PHP para artistas web <a href="http://rufus-v.github.io" target="_blank">documentacion</a>.</p>
</div>

@endsection